.header {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
}

.header a {
  text-decoration: none;
  color: black;
}

.nav {
  display: flex;
  gap: 4rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartIcon {
  width: 16px;
  height: 16px;
}

