@font-face {
  font-family: 'Bauhaus Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Bauhaus Regular'), url(./assets/fonts/logoFont.woff) format('woff');
}

.logoFont {
  font-family: 'Sans Normalcy', 'Bauhaus Regular', InterVariable, RedactRect, Inter, Verdana, sans-serif;
}

.inter {
	font-family: InterVariable, RedactRect, Inter, BlinkMacSystemFont,
		'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
  font-feature-settings: 'case', 'ss01', 'ss04';
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.header a {
  text-decoration: none;
  color: black;
}

.logo {
  height: 4rem;
  width: auto;
}

.logoLink {
  composes: logoFont;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.nav {
  display: flex;
  gap: 4rem;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cartLink {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.cartIcon {
  width: 2rem;
  height: 2rem;
}